body {
    background-color: #e2ddda;
    font-family: 'Poppins', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    padding: 0;
    margin: 0;
}

#temp_page{
    width: 100vw;
    display:flex; 
    flex-direction: column;
    margin: 0 auto;
}

#temp_page img{
    height: 100vh;
}